.Rest {
  padding: 6% 6%;
  padding-top: 3%;
  position: relative;
  background-color: #f3f5f7;
}

.contai {
  background-color: white;
}

.contai_logo{
  padding: 0 25px;
}

.logo {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .hr{
    top: 70%;
    width: 100%;
    border: none;
    left: 0;
    height: 3px;
    background: linear-gradient(90deg, #AF802A, #DFC464);
  }
}

.next {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 780px) {
    left: 94%;
    top: 15%;
  }
}

.h1 {
  background-color: white;
  padding-bottom: 50px;
  padding-left: 0;
  padding-top: 2%;
  font-size: 24px;
  width: 100%;
  display: block;
}

.container_body{
  padding: 0 20px;
  display: flex;
  gap: 20px;

  @media (max-width: 780px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.Resta{
  width: 50%;
  height: 100%;

  @media (max-width: 780px) {
    width: 100%;
    height: 100%;
  }
}

.container_title {
  background-color: white;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  width: 50%;

  @media (max-width: 1300px) {
    gap: 50px;
  }

  @media (max-width: 780px) {
    width: 100%;
  }

  @media (max-width: 400px) {
    gap: 30px;
  }

}

.contei_title{
  display: flex;
  gap: 30px;

  @media (max-width: 400px) {
    display: flex;
    flex-direction: column;
  }
}

.cub_title{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;

  p {
    font-weight: 600;
    font-size: 12px;
    background: linear-gradient(90deg, #AF802A, #DFC464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span{
    padding: 0;
    line-height: 1.1;
    font-size: 16px;
    font-weight: 700;
}

h6{
    font-size: 13px;
    font-weight: 400;
    color: #979797;
    display: flex;
    gap: 5px;

    img{
      padding-top: 5px;
      width: 100%;
      max-width: 4px;
      max-height: 4px;
    }
}

}

.conteiner {
  background-color: white;
  padding-top: 10px;
  display: flex;
  padding: 2%;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 780px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 400px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cub_img {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  p {
    font-weight: 600;
    font-size: 12px;
    background: linear-gradient(90deg, #af802a, #dfc464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    padding: 0;
    line-height: 1.1;
    font-size: 16px;
    font-weight: 700;
  }

  h6 {
    font-size: 13px;
    font-weight: 400;
    color: #979797;
    display: flex;
    gap: 5px;

    img {
      padding-top: 5px;
      width: 100%;
      max-width: 4px;
      max-height: 4px;
    }
  }
}

.Res {
  width: 320px;
}

.Popular_con {
  padding-bottom: 20px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Popular_con_a {
  display: none;
}

