.Popularones {
  padding: 6% 6%;
  padding-top: 3%;
  position: relative;
  background-color: #f3f5f7;
}

.contai {
  background-color: white;
}

.contai_logo{
  padding: 0 25px;
}

.logo {
  background-color: white;
  position: relative;
  width: 100%;

  .next {
    background-color: white;
    position: absolute;
    top: 32%;
    left: 97%;
  }

  hr {
    position: absolute;
    top: 100%;
    width: 100%;
    border: none;
    left: 0;
    height: 3px;
    background: linear-gradient(90deg, #AF802A, #DFC464);
}
}

.h1 {
  background-color: white;
  padding-bottom: 20px;
  padding-left: 0;
  padding-top: 2%;
  font-size: 24px;
}


.container {
  background-color: white;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2%;
  gap: 20px;
}

.Popular {
  width: 100%;
  background-color: white;
}

@media (max-width: 1300px) {
  .Popularones {
    padding: 6% 6%;
    padding-top: 3%;
    position: relative;
    background-color: #f3f5f7;
  }

  .contai {
    background-color: white;
  }

  .contai_logo{
    padding: 0 12%
  }

  .logo {
    background-color: white;
    position: relative;

    .next {
      background-color: white;
      position: absolute;
      top: 20%;
      left: 95%;
    }
  }

  .h1 {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 0;
    padding-top: 2%;
    font-size: 22px;
  }


  .container {
    background-color: white;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 6%;
    gap: 20px;
  }

  .Popular {
    width: 100%;
    max-width: 400px;
    background-color: white;
  }
}

@media (max-width: 1080px) {
  .Popularones {
    padding: 6% 6%;
    padding-top: 3%;
    position: relative;
    background-color: #f3f5f7;
  }

  .contai {
    background-color: white;
  }

  .contai_logo{
    padding: 0 16%;
  }

  .logo {
    background-color: white;
    position: relative;

    .next {
      background-color: white;
      position: absolute;
      top: 20%;
      left: 93%;
    }
  }

  .h1 {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 0;
    padding-top: 2%;
    font-size: 22px;
  }


  .container {
    background-color: white;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 6%;
    gap: 20px;
  }

  .Popular {
    width: 100%;
    max-width: 300px;
    background-color: white;
  }
}

@media (max-width: 800px) {
  .Popularones {
    padding: 6% 6%;
    padding-top: 3%;
    position: relative;
    background-color: #f3f5f7;
  }

  .contai {
    background-color: white;
  }

  .contai_logo{
    padding: 0 8%;
  }

  .logo {
    background-color: white;
    position: relative;

    .next {
      background-color: white;
      position: absolute;
      top: 20%;
      left: 93%;
    }

    hr{
      top: 90%;
    }
  }

  .h1 {
    background-color: white;
    padding-bottom: 20px;
    padding-left: 0;
    padding-top: 2%;
    font-size: 22px;
  }

  .container {
    background-color: white;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 6%;
    gap: 20px;
  }

  .Popular {
    width: 100%;
    max-width: 280px;
    background-color: white;

    @media (max-width: 750px) {

      width: 100%;
      max-width: 240px;
      background-color: white;
    }

    @media (max-width: 650px) {

      width: 100%;
      max-width: 220px;
      background-color: white;
    }

    @media (max-width: 600px) {

      width: 100%;
      max-width: 180px;
      background-color: white;
    }
  }
}

@media (max-width: 490px) {
  .Popularones {
    padding: 6% 6%;
    padding-top: 3%;
    position: relative;
    background-color: #f3f5f7;
  }

  .contai {
    background-color: white;
  }

  .contai_logo{
    padding: 0 10%;
  }

  .logo {
    background-color: white;
    position: relative;

    .next {
      background-color: white;
      position: absolute;
      top: 1%;
      left: 90%;
    }
  }

  .h1 {
    background-color: white;
    padding-bottom: 10px;
    padding-left: 0;
    padding-top: 2%;
    font-size: 20px;
  }

  .Lini {
    position: absolute;
    width: 76%;
    left: 55px;
    border: none;
    height: 3px;
    background: linear-gradient(90deg, #af802a, #dfc464);
  }

  .container {
    background-color: white;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 2% 6%;
    gap: 20px;
  }

  .Popular {
    width: 100%;
    max-width: 325px;
    background-color: white;
  }
}

@media (max-width: 360px) {
  .Popularones {
    padding: 10% 6%;
    padding-top: 0;
    position: relative;
    background-color: white;
  }

  .contai {
    padding-top: 40px;
    background-color: #f3f5f7;
  }

  .contai_logo{
    padding: 0 0;
  }

  .logo {
    background-color: white;
    position: relative;

    .next {
      background-color: white;
      position: absolute;
      top: 19%;
      left: 87%;
    }

    hr{
      top: 80%;
    }
  }

  .h1 {
    display: flex;
    background-color: white;
    padding-bottom: 20px;
    padding-top: 8%;
    padding-left: 5px;
    font-size: 20px;
    position: relative;
  }

  .Lini {
    position: absolute;
    top: 92px;
    width: 85%;
    left: 25px;
    border: none;
    height: 4px;
    background: linear-gradient(90deg, #af802a, #dfc464);
  }

  .container {
    background-color: white;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 20px;
  }

  .Popular {
    width: 100%;
    background-color: white;
  }
}
